<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title th:text="${category.name}"></title>
</head>
<body>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Изменение категория</title>
</head>
<body>
<div th:replace="fragments/sidebar :: sidebar"></div>
<a th:href="@{/admin/}">Админка</a>

<form th:action="@{/admin/categories/edit/{id}(id=${category.id})}" th:object="${category}" method="post" enctype="multipart/form-data">
  <label th:text="${category.name}">Название категории:</label>
  <input type="text" id="name" name="name" th:field="*{name}" >
  <br><br>

  <label th:text="${category.description}">Описание категории:</label>
  <textarea id="description" name="description" th:field="*{description}" rows="4" cols="50"></textarea>
  <br><br>

  <div>
    <img th:src="'data:image/png;base64,' + ${category.image}" alt="Category Image" />
  </div>
  <input type="file" id="imageFile" name="imageFile" accept="image/*" >
  <br><br>

  <button type="submit">Применить изменения</button>
</form>
</body>
</html>

</body>
</html>