<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить категорию</title>
</head>
<body>
<div th:replace="fragments/sidebar :: sidebar"></div>
<a th:href="@{/admin/}">Админка</a>


<h1>Добавить категорию</h1>

<form th:action="@{/admin/categories/create}" th:object="${new_category}" method="post" enctype="multipart/form-data">
    <label for="name">Название категории:</label>
    <input type="text" id="name" name="name" th:field="*{name}" required>
    <br><br>

    <label for="description">Описание категории:</label>
    <input type="text" id="description" name="description" th:field="*{description}" required>
    <br><br>

    <label for="imageFile">Изображение категории:</label>
    <input type="file" id="imageFile" name="imageFile" accept="image/*" required>
    <br><br>

    <button type="submit">Добавить категорию</button>
</form>
</body>
</html>
