<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin-Панеличко</title>
</head>
<body>
<div th:replace="fragments/sidebar :: sidebar"></div>
<a th:href="@{/admin/}">Админка</a>


<div>
  <ul>
    <a th:href="@{/admin/products/create}"><li>Создание вкусностей</li></a>
    <a th:href="@{/admin/categories/create}"><li>Создание категорий</li></a>
    <a th:href="@{/admin/products/list}"><li>Все вкусности</li></a>
    <a th:href="@{/admin/categories/list}"><li>Все категории</li></a>
    <a th:href="@{/admin/products/list_de_active}"><li>Все деактивные продукты</li></a>
    <a th:href="@{/admin/categories/list_de_active}"><li>Все деактивные категории</li></a>

  </ul>
</div>
</body>
</html>