<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Категории</title>
</head>
<body>
<div th:replace="fragments/sidebar :: sidebar"></div>
<div th:each="category: ${categories}">
    <div>
        <img th:src="'data:image/png;base64,' + ${category.image}" alt="Category Image" width="200"/>
    </div>
    <h3 th:text="${category.name}">Category Name</h3>
    <p th:text="${category.description}">Category Description</p>
    <form th:action="@{/categories/{id}(id=${category.id})}" method="get">
        <button type="submit">Перейти к категорию</button>
    </form>
</div>
<br>
</body>
</html>