<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои заказы</title>
</head>
<body>
<div th:each="order : ${orders}">
    <h1 th:text="${order.product.name}"> заказ</h1>
    <h2 th:text="${order.delivery.login}"> имя доставщика</h2>
    <h2 th:text="${order.createdAt}"> когда был произведён заказ</h2>
    <form th:action="@{/users/de_active_order/{id}(id=${order.id})}" method="post">
        <button type="submit">Подтвердить что заказ пришёл</button>
    </form>
</div>
</body>
</html>